
<div class="shop-layout">
  <aside class="filters">
    <input type = "text" placeholder="Zoeken...">

    <h3>Categorieën</h3>
    <ul>
      @for (category of categories(); track category.id) {
        <li (click)="filterByCategory(category.id)">{{ category.name }}</li>
      }
    </ul>
  </aside>
  <section>
    @for (product of products(); track product.id) {
      <article class="product-card">
        <h2>{{ product.name }}</h2>
        <img [src]="product.imageUrl" [alt]="product.name">
  <!--      <p>{{ product.description }}</p>-->
        <p>{{ product.price | currency:'EUR' }}</p>
        <button>In winkelwagen</button>
      </article>
    }
  </section>
</div>
